.positive {
  color: darkgreen;
}

.negative {
  color: darkred;
}

table {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;

  thead {
    background-color: lightgray;
  }

  tbody {
    border: 1px solid white;

    tr {
      td {
        button {
          width: 100%;
        }

        input[type=text] {
          width: 100%;
          margin-top: 5px;
        }
      }
      &:nth-child(even) {
        background-color: lightgray;
      }
    }
  }
}
