<div *ngIf="items">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>$ Value</th>
      <th>last 24h.</th>
      <th>Amount you own</th>
      <th>$ value of your coin</th>
      <th>Profits since last visit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td [routerLink]="['/details', item.id]">{{item.name}}</td>
      <td>{{item.symbol}}</td>
      <td>${{item.quote.USD.price | number: '.2-3'}}</td>
      <td [ngClass]="item.quote.USD.percent_change_24h > 0 ? 'positive': 'negative'">{{item.quote.USD.percent_change_24h | number: '.2-2' | positiveNumber}}</td>
      <td>
        {{getAmount(item.id)}}
        <br/>
        <input type="text" [(ngModel)]="amounts[item.id]">
        <br/>
        <button [disabled]="validateField(item.id)" (click)="setAmount(item.id, amounts[item.id], item.quote.USD.price)">Submit</button>
      </td>
      <td>${{item.quote.USD.price * getAmount(item.id)}}</td>
      <td>${{item.profits ? item.profits : 0}}</td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items.length"></ngb-pagination>
</div>
